.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: $accent-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo,
.footer__logo {
  color: $accent-color;
}

.logo--accent {
  color: $logo-color;
}

.footer-logo--accent {
  color: #ffffff;
}
